.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}
.heading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
}
.navLink {
  font-size: 2rem;
}
.header {
  font-size: 2rem;
}
.form {
  margin-top: 2rem;
  font-size: 1.2rem;
}
.list {
  font-size: 1.1rem;
  cursor: pointer;
  
}
.list:hover {
  font-size: 1.1rem;
  cursor: pointer;
  background-color: #ff0000;
  color:white
}
.red-text {
  color: #ff0000;
}
